dn: dc=jogoj,dc=com
objectClass: dcObject
objectClass: organization
dc: jogoj
o: JOGOJ Inc.

dn: cn=Manager,dc=jogoj,dc=com
objectClass: organizationalRole
cn: Manager
description: Directory Manager

dn: ou=People,dc=jogoj,dc=com
objectClass: organizationalUnit
ou: People

dn: ou=Group,dc=jogoj,dc=com
objectClass: organizationalUnit
ou: Group

